set debug="loader,mm"
set term="vt100"
set default="0"
set timeout="1"

search --set=root --fs-uuid 535add81-5875-4b4a-b44a-464aee5f5cbd

menuentry 'RD-N1-Edge Linux RLK' {
        linux /Image acpi=force root=/dev/vda console=ttyAMA0,115200 rw nokaslr verbose debug virtio_mmio.device=0x10000@0x1c150000:204
# initrd /ramdisk-busybox.img
}
